<a href="https://colab.research.google.com/github/UdayBattula/Python_Practise/blob/main/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Accept input from user and store it in variable and print the value.

In [ ]:
a=input("Enter any value:- ")
b=a
print(a)

Enter any value:- dc
dc

#x Use of print statements and use of (.format )for printing different data types.

In [3]:
a=69.69;
print(type(a));
b=bool(a);
print(b);
print(type(b));
e=str(a);
print(e);
print(type(e));
c=complex(a);
print(c);
print(type(c));
d=int(a);
print(d);
print(type(d));

<class 'float'>
True
<class 'bool'>
69.69
<class 'str'>
(69.69+0j)
<class 'complex'>
69
<class 'int'>

#Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [5]:
num1=int(input())
num2=int(input())
sum=num1+num2
multi=num1*num2
div=num1/num2
sub=num1-num2
print(sum,multi,div,sub)

69
693
762 47817 0.09956709956709957 -624

#Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [2]:
hour=int(input())
miles=float(input())
min=hour*60
km=1.60934*miles
print(min,km)

25
25
1500 40.2335

####Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [12]:
import math
print(math.ceil(6.9))
print(math.floor(6.9))
print(math.fmod(69, 96))
print(math.fabs(-69))
print(math.trunc(69.69))
x = pow(6, 9)
print(x)
print (math.sqrt(36))

7
6
69.0
69.0
69
10077696
6.0

## Building a mathematical calculator that can perform operations according to user input.

In [16]:
no1 = float(input("Enter 1st number: "))
no2 = float(input("Enter 2nd number: "))
print("Operation: +, -, *, / ??")
select = input("Select operation: ")
if select == "+":
    print(no1, "+", no2, "=", no1+no2)
elif select == "-":
    print(no1, "-", no2, "=", no1-no2)
elif select == "*":
    print(no1, "*", no2, "=", no1*no2)
elif select == "/":
    print(no1, "/", no2, "=", no1/no2)
else:
    print("Check your input")

Enter 1st number: 3
Enter 2nd number: 23
Operation: +, -, *, / ??
Select operation: *
3.0 * 23.0 = 69.0

###Accepting 5 different subject marks from user and displaying the grade of the student

In [21]:
english=int(input())
social=int(input())
politics=int(input())
science=int(input())
math=int(input())
total=(english+science+politics+social+math)/5
if total > 90:
  print("Waste, Out Get out ")
elif total > 80 :
  print("Could be worse, Better luck next time")
elif total > 70 :
  print("Dont work too hard")
elif total > 60 :
  print("Enjoy")    
elif total > 50 :
  print("Chill man ;)")
elif total > 40 :
  print("Wonderful, Whistle Podu")
else:
  print("U will be successful in life!!")

6
9
6
9
6
U will be successful in life!!

# Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [31]:
no1=int(input())
no2=int(input())
c=0  #c is count of even numbers
o=0 
for x in range(no1,no2):
  if(x%2==0) :
    print(x,"is even")
    c=c+1
  elif(x%2!=0) :
    print(x,"is odd")
    o=o+1
print(c,"Num of odd nums in the given range")
print(o,"num of even nums in the given range")

1
18
1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
8 Num of odd nums in the given range
9 num of even nums in the given range

###Compute the factorial of a given number

In [32]:
number = int(input("Enter a no: "))    
factorial = 1    
if number < 0:    
   print(" Factorial does not exist for negative nos")    
elif number == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,number + 1):    
       factorial = factorial*i    
   print("The factorial of",number,"is",factorial)

Enter a no: 9
The factorial of 9 is 362880

###Compute GCD of two given numbers

In [34]:
a =int(input("Enter a no: ")) 
b =int(input("Enter a no: "))
if a > b:
  a, b = b, a
for i in range(1,a+1):
  if a%i == 0 and b%i == 0:
    gcd = i

print("GCD of", a, "and", b, "is:", gcd)

Enter a no: 6
Enter a no: 9
GCD of 6 and 9 is: 3

###Generate Fibonacci series up to N numbers

In [35]:
n = int(input("Series Upto= ??"))
num1, num2 = 0, 1
c = 0
print("Fibonacci sequence:")
while c < n:
       print(num1)
       nth = num1 + num2
       num1 = num2
       num2 = nth
       c += 1

Series Upto= ??9
Fibonacci sequence:
0
1
1
2
3
5
8
13
21

###Check whether the given input is palindrome

In [37]:
no=int(input("Enter a num:"))
a=no
reverse=0
while(no>0):
    dgiit=no%10
    reverse=reverse*10+dgiit
    no=no//10
if(a==reverse):
    print("palindrome!")
else:
    print("Not a palindrome")

Enter a num:696
palindrome!

###Check whether the given input is strong Number

In [38]:
num=int(input("Enter a number:"))
sum=0
act=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==act):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:856
The number is not a strong number

###Check whether the given input is perfect

In [39]:
no=int(input("Enter a number:"))
s=0
for i in range(1, no):
    if(no % i == 0):
        s = s + i
if (s == no):
    print("Perfect number")
else:
    print("not a Perfect number")

Enter a number:85
not a Perfect number

##Compute compound interest using loop for a certain principal and interest amount

In [41]:
x=int(input("principle amount:"))
rate=int(input("rate:"))
years=int(input("number of years:"))
for i in range(years):
    x=x+((x*rate)/100)
print(x)

principle amount:696969
rate:9
number of years:9
1513742.2870796267