<a href="https://colab.research.google.com/github/UdayBattula/Python_Practise/blob/main/assignment3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

To print odd no in given range

In [4]:
a=int(input())
b=int(input())
for i in range(a,b):
  if i%2!=0:
    print(i)

2
10
3
5
7
9

To print prime no in given range

In [6]:
def prime(a,b):
  
  for i in range(a,b+1):
    k=0
    for j in range(2,i):
      if i%j==0:
        k+=1
    if k==0:
      print(i)
      
l=int(input("enter number 1: "))
m=int(input("Enter number 2: "))
prime(l,m)

enter number 1: 1
Enter number 2: 010
1
2
3
5
7

TO PRINT no of days in a month

In [7]:
a=int(input("enter any month num "))
if a==1 or a==3 or a==5 or a==7 or a==8 or a==10 or a==12:
  print("31 days")
elif a==4 or a==6 or a==9 or a==11:
  print("30 days")
else:
  print("28 or 29 days")

enter any month num 6
30 days

To print even length

In [8]:
 s = str(input())
 s=s.split(' ')
for x in s:
  if len(x)%2==1:
    print(x,end=" ")

Dj Tillu
Tillu

To print 1st and last capital

In [9]:
a=input("Enter a string ")
b=a.split(' ')
s=''
for i in b :
  x=i.capitalize()
  y=i[-1].capitalize()
  s=x[0:-1]+y
  print(s,end=' ')

Enter a string eyeryone is a gangster until see a monster
EyeryonE IS A GangsteR UntiL SeE A MonsteR

To convert multiple integers to single integers

In [ ]:
a=[10,13,15,17]
for i in a:
  print(i,end="")

10131517

Write a program to print power of no

In [25]:
a=int(input())
b=int(input())
c=pow(a,b)
c

14
6

7529536

To sort tupple by total digits input
list=[(3,4,6,723),(1,2)(134,234,34)]

*   List item
*   List item

In [ ]:
list=[(3,4,6,723),(1,2),(134,234,34)]
list.sort()
print(list)

[(1, 2), (3, 4, 6, 723), (134, 234, 34)]

Take 5 subject marks from student and display the grade of student

In [24]:
s1=int(input())
s2=int(input())
s3=int(input())
s4=int(input())
s5=int(input())
avg=(s1+s2+s3+s4+s5)/5
if avg>90:
  print("A+")
elif 80<avg<90:
  print("A") 
elif 70<avg<80:
  print("B") 
elif 60<avg<70:
  print("C") 
elif 50<avg<60:
  print("D") 
elif 40<avg<50:
  print("E")    
else:
  print("F")

9
6
0
3
8
F

Write a python program that prints 1 if all no are in ascending order

In [23]:
a=int(input())
b=int(input())
c=int(input())
if a<b<c :
  print("1")
else:
  print("0")

7
8
9
1

Check give no is perfect or not

In [22]:
n = int(input())
sum = 0
for i in range(1, n):
    if(n % i == 0):
        sum = sum + i
if (sum == n):
    print("The number is a Perfect number")
else:
    print("The number is not a Perfect number")

96
The number is not a Perfect number

Find Gcd of given no with and without recrusion

In [ ]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:12
Enter second number:24
GCD is:
12

print sum of even digits in a no

In [21]:
a=str(input())
sum=0
for i in a:
  if int(i)%2==0:
    sum=sum+int(i)
print(sum)

6845164987
36

Calculate the  sum of squares of digits of a no.

In [19]:
num = int(input())
sum = 0
while num!=0:
    rem = num%10
    sqr = rem*rem
    sum = sum+sqr
    num = int(num/10)
print(sum)

452
45

given a string is s=abcdefcba how many times i

In [ ]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

abcdbc
1

print count front back matches

In [ ]:
a=str(input())
b=a[::-1]
l=int((len(a)/2))
c=0
for i in range(0,l):
  if a[i]==b[i]:
    c=c+1
print(c)

abcdfghjdcba
4

repeat the n no for n times [1,2,2,3,3,3,4,4,4,4]

In [18]:
n=int(input())
a=0
for x in range(0,n):
  if a<x:
   print(x*x)

5
1
4
9
16

print no of vowels and consonants

In [17]:
a=input()
v=0
c=0
for i in a:
  if i=='a' or i=='e' or i=='o'or i=='u'or i=='i' or i=='A' or i=='E' or i=='O'or i=='U'or i=='I':
    v+=1
  else:
    c+=1
print(v)
print(c)

uvkUVHXKvhkaskULVYLYH
4
17

given two integers A and B .if  a<b print all no in ascending or else in descending

In [15]:
a=int(input())
b=int(input())
if a<b:
  for i in range(a,b):
    print(i)
else:
  for i in range(a,b,-1):
    print(i)

2
8
2
3
4
5
6
7

fin max of 3 no

In [13]:
a=int(input())
b=int(input())
c=int(input())
if (a >= b) and (a >= c):
   largest = a
elif (b >= a) and (b >= c):
   largest = b
else:
   largest = c

print("The largest number is", largest)

69
698
6969
The largest number is 6969

write a program to count no of strings where the string length is 2 or more and 1st and last is same

In [12]:
def match(words):
  d=0
  for x in words:
    if len(word) > 1 and x[0] == x[-1]:
      d+=1
  return d
  print(match(['abc','xyz','aba','1221']))

days as input,no of round trips ,cal the tot distance if tot dis is <40000m print need  to work hard

In [10]:
days=int(input())
no=int(input("enter no of meters"))
dis=days*no
if dis<40000:
  print("need to work more")
else:
  print("good work")

985
enter no of meters589
good work

given a list of students names i l and a charcter and display the names whose name are given in capital.

In [ ]:
test_str =['hello','Hello']
print("The original string is : " + str(test_str))
for ele in test_str:
   if ele.isupper():
     print(ele)

The original string is : ['hello', 'Hello']

given a list of city names whose len is greater than given len
['Delhi','Mumbai','Goa']

In [ ]:
list=['delhi','Mumbai','Goa']
l=int(input())
for x in list:
  if len(x)>l:
    print(x)

3
delhi
Mumbai