<a href="https://colab.research.google.com/github/UdayBattula/Python_Practise/blob/main/assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Create a function which accepts two inputs from the user and compute ncr

In [3]:
print("Enter the Value of n: ", end="")
n = int(input())
print("Enter the Value of r: ", end="")
r = int(input())
fact = i = 1
while i<=n:
  fact = i*fact
  i += 1

numerator = fact
sub = n-r
fact = i = 1

while i<=sub:
  fact = i*fact
  i += 1

denominator = fact
fact = i = 1
while i<=r:
  fact = i*fact
  i += 1

denominator = fact*denominator
comb = numerator/denominator
print("\nCombination (nCr) =", comb)

Enter the Value of n: 5
Enter the Value of r: 5

Combination (nCr) = 1.0

## Recursive function to compute GCD of 2 numbers

In [5]:
def gcd(a,b):
    if(b==0):
        return a
    else:
        return gcd(b,a%b)
a=int(input("Enter first number:"))
b=int(input("Enter second number:"))
GCD=gcd(a,b)
print("GCD is: ")
print(GCD)

Enter first number:5
Enter second number:55
GCD is:
5

In [6]:
def product(a,b):
    if(a<b):
        return product(b,a)
    elif(b!=0):
        return(a+product(a,b-1))
    else:
        return 0
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
print("Product is: ",product(a,b))

Enter first number: 25
Enter second number: 25
Product is:  625

In [10]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms =int(input("Enter any number= "))

if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i))

Enter any number= 10
Fibonacci sequence:
0
1
1
2
3
5
8
13
21
34

###Program to print a specified list after removing the 0th, 4th and 5th elements.
####Sample List : ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
####Expected Output : ['Green', 'White', 'Black']

In [16]:
list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']
list.pop(0)
list.pop(4)   #value gets updated
list.pop(3)
print(list)

['Green', 'White', 'Black', 'Pink', 'Yellow']

## Program to get the difference between the two lists.

In [24]:
li1 = [10, 15, 20, 25, 30, 35, 40]
li2 = [25, 40, 35]
li3 = Diff(li1, li2)
print(li3)

[10, 15, 20, 30]

## Program to find the second smallest number and second largest number in a list.

In [30]:
def find_len(list1):
	length = len(list1)
	list1.sort()
	print("Second Largest element is:", list1[length-2])
	print("Second Smallest element is:", list1[1])

list1=[12, 45, 2, 41, 31, 10, 8, 6, 4]
Largest = find_len(list1)

Second Largest element is: 41
Second Smallest element is: 4

####Given a list of numbers of list, write a Python program to create a list of tuples having first element as the number and second element as the square of the number.

In [32]:
list1 = [1, 6, 9, 69]
res = [(val, pow(val, 2)) for val in list1]
print(res)

[(1, 1), (6, 36), (9, 81), (69, 4761)]

###Given list of tuples, remove all the tuples with length K.
###Input : test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)], K = 2
###Output : [(4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]
###Explanation : (4, 5) of len = 2 is removed.

In [35]:

test_list = [(4, 5), (4, ), (8, 6, 7), (1, ), (3, 4, 6, 7)]

print("The original list : " + str(test_list))

K = 2
res = [ele for ele in test_list if len(ele) != K]

print("Filtered list : " + str(res))

The original list : [(4, 5), (4,), (8, 6, 7), (1,), (3, 4, 6, 7)]
Filtered list : [(4,), (8, 6, 7), (1,), (3, 4, 6, 7)]

###Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).
Sample Input: (n=5) :
Expected Output : {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [37]:
n=int(input("Enter a number "))
d = dict()

for x in range(1,n+1):
    d[x]=x*x

print(d)

Enter a number 5
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

#### Program to remove a key from a dictionary

In [39]:
diction = {'a':1,'b':2,'c':3,'d':4}
print(diction)
if 'a' in diction: 
    del diction['d']
print(diction)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'a': 1, 'b': 2, 'c': 3}

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations

######Program for Counting occurrence of a certain element in a string, getting indexes that have matching elements

In [41]:

test_str = "Violence, Violence, Violence!!!"

count = 0

for i in test_str:
	if i == 'e':
		count = count + 1

print ("Count of e in Violence, Violence, Violence!!! is : "
							+ str(count))

Count of e in Violence, Violence, Violence!!! is : 6

####Program for replacing one substring by another

In [44]:
# Python3 program to demonstrate the
# use of replace() method

string = "Violence, Violence, Violence!!!, I dont like, I avoidddd...."

# Prints the string by replacing all
# geeks by Geeks
print(string.replace("....", " ,but Violence likes me, I cant avoidddd"))

# Prints the string by replacing only
# 3 occurrence of Geeks
print(string.replace("....", "but Violence likes me, I cant avoidddd", 1))

Violence, Violence, Violence!!!, I dont like, I avoidddd ,but Violence likes me, I cant avoidddd
Violence, Violence, Violence!!!, I dont like, I avoiddddbut Violence likes me, I cant avoidddd

###Program to Acronym generator for any user input

In [47]:
# function to create acronym
def fxn(stng):
	
	# get all words
	lst = stng.split()
	oupt = ""
	
	# iterate over words
	for word in lst:
		
		# get first letter of each word
		oupt += word[0]
		
	oupt = oupt.upper()
	return oupt


inpt1 = "Salaaam Rocky Bhai"

print(fxn(inpt1))

inpt1 = "Toofan Toofan"

print(fxn(inpt1))

inpt1 = "Dheeera Dheeera"
print(fxn(inpt1))

SRB
TT
DD

###Python function that accepts a string and calculates the number of uppercase letters and lowercase letters.

In [50]:
def upperlower(string):

	upper = 0
	lower = 0

	for i in range(len(string)):
		
		# For lower letters
		if (ord(string[i]) >= 97 and
			ord(string[i]) <= 122):
			lower += 1

		# For upper letters
		elif (ord(string[i]) >= 65 and
			ord(string[i]) <= 90):
			upper += 1

	print('Lower case characters = %s' %lower,
		'Upper case characters = %s' %upper)

# Driver Code
string = input(str("Enter any Statement"))
upperlower(string)

Enter any Statement'Violence, Violence, Violence!!!, I dont like, I avoidddd ,but Violence likes me, I cant avoidddd'
Lower case characters = 66 Upper case characters = 7

###Program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings

In [51]:
def match_words(words):
  ctr = 0

  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      ctr += 1
  return ctr

print(match_words(['abc', 'xyz', 'aba', '1221']))

2