<a href="https://colab.research.google.com/github/UdayBattula/Python_Practise/blob/main/Tuple07_04_22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=(56, 65, 96)

##Functions in Tuple

In [3]:
fruit = ("apple", "banana", "cherry","BlueBerry","Strawberry","JackalBerry","orange","apple","apple")
print(fruit)
print(len(fruit))
print(type(fruit))
print(fruit[1])
print(fruit[-1])
print(fruit[2:5])
print(fruit[:4])
print(fruit[2:])
print(fruit[-4:-1])
if "apple" in fruit:
  print("Yes, 'apple' is in the fruits tuple")

('apple', 'banana', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple')
9
<class 'tuple'>
banana
apple
('cherry', 'BlueBerry', 'Strawberry')
('apple', 'banana', 'cherry', 'BlueBerry')
('cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple')
('JackalBerry', 'orange', 'apple')
Yes, 'apple' is in the fruits tuple

##Remove,Add, Change

In [24]:
fruit = ("apple", "banana", "cherry","BlueBerry","Strawberry","JackalBerry","orange","apple","apple")
print(fruit)
y = list(fruit)
y[1] = "kiwi"
fruit = tuple(y)
print(fruit)

y = list(fruit)
y.append("Melon")
fruit = tuple(y)
print(fruit)

y = ("orange",)
fruit += y
print(fruit)



y = list(fruit)
L=y.count("apple")
print(L)
fruit = tuple(y)
print(fruit)

('apple', 'banana', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple')
('apple', 'kiwi', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple')
('apple', 'kiwi', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple', 'Melon')
('apple', 'kiwi', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple', 'Melon', 'orange')
3
('apple', 'kiwi', 'cherry', 'BlueBerry', 'Strawberry', 'JackalBerry', 'orange', 'apple', 'apple', 'Melon', 'orange')

#Loops

In [29]:
fruits = ("apple", "banana", "cherry","BlueBerry","Strawberry","JackalBerry")
for x in fruits:
  print(x)
for i in range(len(fruits)):
  print(fruits[i])
i = 0
while i < len(fruits):
  print(fruits[i])
  i = i + 1

apple
banana
cherry
BlueBerry
Strawberry
JackalBerry
apple
banana
cherry
BlueBerry
Strawberry
JackalBerry
apple
banana
cherry
BlueBerry
Strawberry
JackalBerry